<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
  <item android:id="@+id/menu_open1"
      android:title="Upper"
      android:showAsAction="always" />
  <item android:id="@+id/menu_open2"
      android:title="Lower"
      android:showAsAction="always" />
  <item android:id="@+id/menu_left"
        android:title="Upper Aligned"
        android:showAsAction="never"/>
  <item android:id="@+id/menu_right"
        android:title="Lower Aligned"
        android:showAsAction="never"/>
  <item android:id="@+id/menu_license"
      android:title="License"
      android:showAsAction="never" />
  <item android:id="@+id/menu_about"
      android:title="About this app"
      android:showAsAction="never" />
</menu>
